/* 全局设置 */
.containerIndex {
  height: 100%;
}

h2 {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 5px;
  font-weight: 100;
  text-align-last: left;
}





/* 首页logo与搜索框*/
.logo {
  height: 100px;
}

.serach {
  display: flex;
  height: 40px;
  margin-top: 32px;
  border: 3px solid rgba(255, 153, 0);
}

.serach input {
  border: 0;
  margin: 0px 5px;
  outline: none;
  width: 80%;
}

.serach button {
  border: 0;
  color: #FFFFFF;
  outline: none;
  width: 20%;
  background-color: #F90;
}

.serach button:hover {
  font-size: 15px;
  cursor: pointer;
}



/* 首页导航栏 */
.sortlist {
  height: 60px;
  margin-bottom: 20px;
  background-color: #FF8800;
  box-shadow: 1px 3px 8px #666666;
}

.sortlist ul {
  display: flex;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 15px;
  z-index: 999999;
  border-radius: 10px;
  text-align-last: center;
  background-color: #FFFFFF;
  box-shadow: 1px 3px 8px #555555;
}

.sortlist ul li {
  flex: 1;
  height: 50px;
  line-height: 50px;
  margin: 0px 20px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.2s,font-size 0.2s;
}

.sortlist ul li:hover {
  color: #000000;
  font-size: 21px;
}



/* 首页幻灯片 */
.slide {
  padding-bottom: 10px;
  width: 100%;
  height: 400px;
}

.block{
  width: 100%;
  height: 400px;
}
.block img {
  width: 100%;
  height: 100%;
}



/* 首页热门商品*/
.center {
  border-radius: 10px;
  padding: 0;
  margin-top: 12px;
}

.hot-product {
  margin-top: 10px;
  height: 600px;
}

.hot-product ul {
  width: 100%;
}

.hot-product ul li {
  float: left;
  width: 47%;
  height: 280px;
  font-size: 15px;
  margin: 0px 0.5%;
  margin-bottom: 0.5%;
  padding: 0 1%;
  border-radius: 15px;
  text-align-last: left;
  background-color: #FFFFFF;
  box-shadow: 2px 4px 8px #555555;
}

.hot-product p {
  font-size: 20px;
  font-weight: 600;
  padding: 3px 10px;
  margin-left: 5px;
  margin: 7px;
  margin-top: 20px;
}

.hot-product ul li div {
  border-top: 3px solid rgba(37, 41, 41, 0.5);
}

.hot-product ul li ul {
  clear: all;
}

.hot-product ul li ul li {
  height: 100%;
  width: 97%;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 0;
  line-height: 40px;
  cursor: pointer;
  /* 下划线-虚线*/
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  /* 超出隐藏*/
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  transition: font-size 0.2s;
}
.hot-product ul li ul li:hover{
  color: #FF8800;
  font-size: 16px;
}





/* 首页最新上架商品展示栏*/
.new {
  padding-bottom: 20px;
}

.list li {
  text-align-last: center;
  float: left;
  height: 300px;
  width: calc(20% - 8px);
  padding: 5px 0px;
  margin: 3px;
  cursor:pointer;
  background-color: #FFFFFF;
}

.list li img {
  margin-top: 20px;
  width: 80%;
  height: 65%;
}

.list-text {
  text-align-last: center;
  font-size: 14px;
  padding: 0 20px;
  overflow: hidden;
  /*超出部分隐藏*/
  text-overflow: ellipsis;
  /* 超出部分显示省略号 */
  white-space: nowrap;
  /*规定段落中的文本不进行换行 */
}

.list-money {
  margin-left: 10%;
  text-align-last: left;
  color: rgb(255, 102, 0);
  font-size: 20px;
}

.list-item {
  transition: all 0.2s;
  border-radius: 10px;
}

.list-item:hover {
  box-shadow: 0px 1px 10px #999999;
  color: rgb(255, 102, 0);
  transform: translateY(-0.5%);
}
/* .list-item:hover img{
  width: 85%;
  height: 70%;
} */

/* 商品列表 */
/* .list{
  background-color: #F2F2F2;
}
.list-product{
  padding: 10px 0px;
}
.list-name{
  line-height: 60px;
}
.list-product ul{
  border: 4px solid #F9F9F9;
}
.list-product ul li{
  background-color: #999999;
  margin: 2px 0px;
  line-height: 150px;
} */
