<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ct.mapper.ForegroundMapper.ProductMapper" >

    <select id="selectByNew" resultType="Product">
        select * from product where DATE_SUB(CURDATE(),INTERVAL 7 DAY) and status=1 order By creattime desc;
    </select>

    <select id="selectByHot" parameterType="Integer" resultType="Product">
        select * from product where status=1
        <if test="value == 1">
            and sid in (2)
        </if >
        <if test="value == 2">
            and sid in (13,14)
        </if >
        <if test="value == 3">
            and sid  in (29,30,31,32,33)
        </if >
        <if test="value == 4">
            and sid in (20,21)
        </if >
    </select>

    <select id="selectProductById" parameterType="Integer" resultType="map">
        select p.*,u.username from product p,user u where p.uid=u.id and p.id = #{value};
    </select>

    <select id="selectScProductById" parameterType="Map" resultType="Product">
        select p.* from product p,fc f,sc s where p.sid=s.id and s.fcid=f.id and status=1
        <if test="id!=0">
            and s.fcid=#{id}
        </if>
        <if test="serachText!=null">
            and p.name like concat('%','${serachText}','%')
        </if>
        <if test="ids!=null and ids.size()>0">
            and s.id in
            <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="priceInterval!=null and priceInterval.size()>0">
            and  currentprice BETWEEN ${priceInterval.min} and ${priceInterval.max}
        </if>
        <if test="timeInterval!=0">
           and  DATE_SUB(CURDATE(),INTERVAL #{timeInterval} DAY);
        </if>
    </select>

    <insert id="insertProductByUser" parameterType="Product">
        insert into
        product
        (
        <trim prefix="" suffixOverrides=",">
            <if test="name!=null">
                name,
            </if>
            <if test="details!=null">
                details,
            </if>
            <if test="images!=null">
                images,
            </if>
            <if test="clicks!=null">
                clicks,
            </if>
            <if test="creattime!=null">
                creattime,
            </if>
            <if test="originalprice!=null">
                originalprice,
            </if>
            <if test="currentprice!=null">
                currentprice,
            </if>
            <if test="deal!=null">
                deal,
            </if>
            <if test="address!=null">
                address,
            </if>
            <if test="comments!=null">
                comments,
            </if>
            <if test="sid!=0">
                sid,
            </if>
            <if test="uid!=0">
                uid
            </if>
        </trim>
        )
        values
        (
        <trim prefix="" suffixOverrides=",">
            <if test="name!=null">
                #{name},
            </if>
            <if test="details!=null">
                #{details},
            </if>
            <if test="images!=null">
                #{images},
            </if>
            <if test="clicks!=null">
                #{clicks},
            </if>
            <if test="creattime!=null">
                #{creattime},
            </if>
            <if test="originalprice!=null">
                #{originalprice},
            </if>
            <if test="currentprice != null">
                #{currentprice},
            </if>
            <if test="deal != null">
                #{deal},
            </if>
            <if test="address != null">
                #{address},
            </if>
            <if test="comments != null">
                #{comments},
            </if>
            <if test="sid != 0">
                #{sid},
            </if>
            <if test="uid != 0">
                #{uid}
            </if>
        </trim>
        )
    </insert>

    <select id="selectCommentById" resultType="map" parameterType="Integer">
        select u.id uid,u.username,u.userimgpath,c.* from comment c,user u where c.uid=u.id and c.pid=#{value}  order by c.id desc;
    </select>

    <insert id="insertProductToLove" parameterType="map">
        insert into userlove(uid,pid) value (#{uid},#{pid});
    </insert>

    <select id="selectLoveById" resultType="int" parameterType="map">
        select count(*) from userlove where uid=#{uid} and pid=#{pid}
    </select>

    <insert id="insertComment" parameterType="map">
        insert into comment(pid,uid,text,time) value (#{pid},#{uid},#{text},#{time})
    </insert>

    <select id="selectMyCollectById" resultType="Product" parameterType="Integer">
        select p.* from userlove u,product p where u.pid=p.id and u.uid=#{value}
    </select>

    <select id="selectMyProductById" resultType="map" parameterType="Integer">
        select p.*,ifnull(op.status,0) opstatus,op.oid oid from product p left join order_product op on op.pid=p.id where  uid=#{value} order by creattime desc
    </select>

    <update id="updateProductByUser" parameterType="Product">
        update product
        <trim prefix="SET" suffixOverrides=",">
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="sid!=0">
                sid=#{sid},
            </if>
            <if test="currentprice!=null">
                currentprice=#{currentprice},
            </if>
            <if test="originalprice!=null">
                originalprice=#{originalprice},
            </if>
            <if test="deal!=null">
                deal=#{deal},
            </if>
            <if test="address!=null">
                address=#{address},
            </if>
            <if test="details!=null">
                details=#{details},
            </if>
            <if test="images!=null">
                images=#{images},
            </if>
            <if test="clicks!=0">
                clicks=#{clicks},
            </if>
            <if test="comments!=null">
                comments=#{comments},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
        </trim>
        where id=#{id}
    </update>

    <delete id="deleteProductById" parameterType="int">
        delete from product where id=#{value}
    </delete>

    <delete id="deleteProductToLove" parameterType="map">
        delete from userlove where uid=#{uid} and pid=#{pid}
    </delete>

    <update id="updateCommentById" parameterType="map">
        update comment set status=#{status} where id=#{id}
    </update>

    <update id="soldOutProduct">
        update product p,order_product op set p.status=2,p.payed=2 where p.id=op.pid;
    </update>

    <select id="selectByCommend" resultType="Product">
        select p.* from recommend r,product p where r.pid=p.id and p.status=1 order by creattime desc;
    </select>

    <update id="updateOrderProductStatus" parameterType="map">
        update order_product set status=#{status} where oid=#{oid} and pid=#{pid};
    </update>
</mapper>